aext_assistant 
aext_assistant_server 
aext_core 
aext_core_server 
aext_shared  
aiobotocore 
aiocache==0.12.2
aiofiles==0.8.0
aiohttp==3.9.1
aioitertools 
aiosignal 
aiosqlite==0.17.0
alabaster 
altair 
anaconda-client 
anaconda-anon-usage 
anaconda-catalogs 
anaconda-cloud-auth 
anaconda-navigator
anaconda-project 
anyio 
appdirs==1.4.4
applaunchservices 
appnope 
appscript 
archspec 
argon2-cffi 
argon2-cffi-bindings 
arrow 
astroid 
astropy 
asttokens 
async-lru 
asyncpraw==7.7.1
asyncprawcore==2.4.0
atomicwrites==1.4.0
attrs 
Automat 
autopep8 
Babel 
backports.functools-lru-cache 
backports.tempfile 
backports.weakref==1.0.post1
bcrypt 
beautifulsoup4 
binaryornot 
black 
bleach 
blinker 
bokeh 
boltons 
botocore 
Bottleneck 
Brotli 
cachetools 
certifi 
cffi 
chardet 
charset-normalizer 
click 
cloudpickle 
clyent
colorama 
colorcet 
comm 
conda 
conda-build 
conda-content-trust 
conda-libmamba-solver 
conda-pack 
conda-package-handling 
conda-repo-cli==1.0.75
conda-token 
conda-verify==3.4.2
conda_index 
conda_package_streaming
constantly 
contourpy
cookiecutter 
cryptography
cssselect 
cycler
cytoolz 
dask 
datashader 
debugpy 
decorator 
defusedxml 
diff-match-patch 
dill 
discord==2.3.2
discord.py==2.4.0
distributed 
distro 
dnspython==2.6.1
docstring-to-markdown 
docutils 
easy-pil==0.3.3
entrypoints 
et-xmlfile==1.1.0
executing 
fastjsonschema 
filelock 
flake8 
Flask 
fonttools==4.25.0
frozenlist 
fsspec 
future 
gensim 
git-filter-repo==2.45.0
gitdb 
GitPython 
gmpy2 
greenlet 
h11 
h2 
h5py 
HeapDict 
holoviews 
hpack==4.0.0
httpcore 
httpx 
hvplot 
hyperframe 
hyperlink 
idna 
imagecodecs
imageio 
imagesize 
imbalanced-learn 
importlib-metadata 
incremental 
inflection==0.5.1
iniconfig 
intake 
intervaltree 
ipykernel 
ipython 
ipython-genutils 
ipywidgets 
isort 
itemadapter 
itemloaders 
itsdangerous 
jaraco.classes 
jedi 
jellyfish 
Jinja2 
jmespath 
joblib 
json5 
jsonpatch 
jsonpointer==2.1
jsonschema 
jsonschema-specifications 
jupyter 
jupyter-console 
jupyter-events 
jupyter-lsp 
jupyter-ydoc 
jupyter_client 
jupyter_core 
jupyter_server 
jupyter_server_fileid 
jupyter_server_terminals 
jupyter_server_ydoc 
jupyterlab 
jupyterlab-pygments 
jupyterlab-widgets 
jupyterlab_server 
keyring 
kiwisolver 
lazy-object-proxy 
lazy_loader 
lckr_jupyterlab_variableinspector 
libarchive-c 
libmambapy 
linkify-it-py 
llvmlite 
lmdb 
locket 
lxml 
lz4
Markdown 
markdown-it-py 
MarkupSafe 
matplotlib 
matplotlib-inline 
mccabe 
mdit-py-plugins 
mdurl
menuinst 
mistune 
more-itertools 
mpmath 
msgpack 
multidict 
multipledispatch 
munkres==1.1.4
mypy 
mypy-extensions 
navigator-updater 
nbclassic 
nbclient
nbconvert 
nbformat 
nest-asyncio 
networkx 
nltk 
notebook 
notebook_shim 
numba 
numexpr 
numpy 
numpydoc 
openpyxl==3.0.10
overrides 
packaging 
pandas 
pandocfilters 
panel 
param 
parsel 
parso 
partd 
pathlib 
pathspec 
patsy==0.5.3
pexpect 
pickleshare 
Pillow==10.1.0
pkce 
pkginfo 
platformdirs
plotly 
pluggy 
ply==3.11
prometheus-client 
prompt-toolkit 
Protego 
protobuf==3.20.3
psutil 
ptyprocess 
pure-eval
py-cpuinfo 
pyarrow 
pyasn1 
pyasn1-modules==0.2.8
pycodestyle 
pycosat 
pycparser 
pyct 
pycurl 
pydantic 
pydeck 
PyDispatcher==2.0.5
pydocstyle 
pyerfa 
pyflakes 
Pygments 
PyJWT 
pylint 
pylint-venv 
pyls-spyder==0.4.0
pymongo==4.8.0
pyobjc-core 
pyobjc-framework-Cocoa 
pyobjc-framework-CoreServices 
pyobjc-framework-FSEvents 
pyodbc 
pyOpenSSL 
pyparsing 
PyQt5==5.15.10
PyQt5-sip 
PyQtWebEngine==5.15.6
PySocks 
pytest 
python-dateutil 
python-dotenv 
python-json-logger 
python-lsp-black 
python-lsp-jsonrpc==1.0.0
python-lsp-server 
python-slugify 
python-snappy 
pytoolconfig 
pytz 
pyviz-comms 
pywavelets 
PyYAML 
pyzmq 
QDarkStyle 
qstylizer 
QtAwesome 
qtconsole 
QtPy 
queuelib 
referencing 
regex 
requests 
requests-file 
requests-toolbelt 
rfc3339-validator 
rfc3986-validator 
rich 
rope 
rpds-py 
Rtree 
ruamel-yaml-conda 
ruamel.yaml 
s3fs 
scikit-image 
scikit-learn 
scipy 
Scrapy 
seaborn 
semver 
Send2Trash 
service-identity 
sip 
six 
smart-open 
smmap 
sniffio 
snowballstemmer 
sortedcontainers 
soupsieve 
Sphinx 
sphinxcontrib-applehelp 
sphinxcontrib-devhelp 
sphinxcontrib-htmlhelp 
sphinxcontrib-jsmath 
sphinxcontrib-qthelp 
sphinxcontrib-serializinghtml 
spyder 
spyder-kernels 
SQLAlchemy 
stack-data 
statsmodels 
streamlit 
sympy 
tables 
tabulate 
tblib 
tenacity 
terminado
text-unidecode 
textdistance 
threadpoolctl 
three-merge 
tifffile 
tinycss2 
tldextract 
toml 
tomli 
tomlkit 
toolz
tornado 
tqdm 
traitlets 
truststore 
Twisted 
typing_extensions==4.8.0
tzdata 
tzlocal 
uc-micro-py 
ujson 
Unidecode 
update-checker==0.18.0
urllib3 
validators 
w3lib 
watchdog 
wcwidth 
webencodings==0.5.1
websocket-client 
Werkzeug 
whatthepatch 
widgetsnbextension 
wrapt 
wurlitzer 
xarray 
xlwings 
xyzservices 
y-py 
yarl 
ypy-websocket 
zict 
zipp 
zope.interface 
zstandard 
